node_modules/
npm-*
typings/

build/bundle.js
build/index.html
build/awsec2/*.pem
build/vagrant/*
!build/vagrant/.gitkeep

docker/.vagrant
docker/moses/moses/
docker/fastalign/fast_align/
docker/cdec/cdec/
docker/kenlm/kenlm

trash/
app/universal/
todo.txt
