body {
  font-family: Verdana;
  font-size: 12px;
  margin: 0;
  position:fixed; top:0px; left:0px;bottom:0px; right:0px;
}

header {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  position: relative;
  z-index: 10;
}

header h1 {
  margin: 0;
  padding: 20px 20px;
  background: rgb(29,31,33);
  color: #fff;
  font-size: 16px;
}

#example { width: 100%; height: 100%; }

.table { display: table; width: 100%; height: 100%; }
.table-row { display: table-row; width: 100%; height: 1px; }
.table-row-expanded { height: 100%; }
.table-col { display: table-cell; }

.sidebar {
  background: rgb(81,81,81);
  padding: 20px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  position: relative;
  z-index: 1;
  width: 20%;
}

.toolbox ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.toolbox li {
  display: inline-block;
  border: 2px solid black;
  background: rgb(90,90,90);
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 15px 20px;
  margin: 5px;
}

.properties ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.middle-pad {
  padding: 0 20px;
}

.grid {
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(0deg, #eee, #eee 1px, transparent 1px, transparent 40px),
  repeating-linear-gradient(-90deg, #eee, #eee 1px, transparent 1px, transparent 40px);
}

svg {
  width: 100%;
  height: 100%;
}

.preview {
  background: #fff;
  padding: 0px 20px;
}

.preview pre {
  height: 200px;
  overflow: auto;
}

.process rect {
  cursor: move;
  fill: #2ECC71;
  stroke: #000;
}
.process text {
  color: black;
}
.process .port-in circle {
  fill: #16A085;
  stroke: #000;
}
.process .port-out circle {
  fill: #E74C3C;
  stroke: #000;
}
.connector:hover line {
  stroke: yellow;
}
.connector line, .port-line {
  stroke: #000;
  stroke-width: 1px;
  cursor: pointer;
}
.connector.selected line {
  stroke: red;
}
.process .port-on circle {
  fill: yellow;
}
