/* Resets */
*, *:after, *:before {
    margin: 0; /* Margin zero is used to prevent unnecessary white space. */
    padding: 0; /* Padding zero is used to prevent unnecessary white space. */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /* Border boxing is used, so the padding, margin and borders are within de width and height of de element. */
}

html, body {
    height: 100%;
    max-height: 100%;
}

body {
    padding: 0px;
}

.table, .row, .cell {
    outline: none;
    border: none;
    outline-style: none;
    vertical-align: top;
    text-align: left;
}

.table {
    border-collapse: collapse;
    display: table;
    table-layout: fixed; /* This will ensure the cells within the table will keep there width. */
    width: 100%;
    height: 100%;
}

.row {
    display: table-row;
    width: 100%;
}

.cell {
    display: table-cell;
    white-space: nowrap; /* This property is used to show ellipses, when the content within de cell is overflown. */
    overflow: hidden; /* This property is used to show ellipses, when the content within de cell is overflown. */
    -ms-text-overflow: ellipsis; /* This property is used to show ellipses, when the content within de cell is overflown. */
    -o-text-overflow: ellipsis; /* This property is used to show ellipses, when the content within de cell is overflown. */
    text-overflow: ellipsis; /* This property is used to show ellipses, when the content within de cell is overflown. */
}

#example {
  width: 100%;
  height: 100%;
}

.container {
  display: block;
  height: 100%;
  font-family: Verdana;
  font-size: 12px;
}

.header-row {
  height: 50px;
}
.header-cell {
  background: #101010;
  color: white;
  vertical-align: middle;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
}
.header-cell h1 {
  font-size: 14px;
}
.cell-scroll-outer {
  position: relative;
}
.cell-scroll-inner {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
}

.sidebar {
  background: rgb(81,81,81);
}

.toolbox, .properties {
  padding: 20px;
}

.sidebar h2 {
  font-size: 14px;
  color: #fff;
  margin-bottom: 15px;
}
.toolbox ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.toolbox li {
  border: 2px solid black;
  background: rgb(90,90,90);
  color: white;
  cursor: pointer;
  padding: 10px 10px;
  background: #2ECC71;
  color: black;
  border: 1px solid black;
  font-size: 10px;
  width: 40%;
  float: left;
  margin: 5px 5px;
}

.grid {
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(0deg, #eee, #eee 1px, transparent 1px, transparent 40px),
  repeating-linear-gradient(-90deg, #eee, #eee 1px, transparent 1px, transparent 40px);
}

.preview {
  background: #fff;
  padding: 0px 0px;
}

.preview pre {
  height: 200px;
  padding: 10px 10px;
  overflow: auto;
  -moz-tab-size:    2;
  -o-tab-size:      2;
  tab-size:         2;
  white-space: pre;
}

.process rect {
  cursor: move;
  fill: #2ECC71;
  stroke: #000;
}
.process text {
  color: black;
}
.process .port-in circle {
  fill: #16A085;
  stroke: #000;
}
.process .port-out circle {
  fill: #E74C3C;
  stroke: #000;
}
.connector:hover line {
  stroke: yellow;
  stroke-width: 3px;
}
.connector line, .port-line {
  stroke: #000;
  stroke-width: 1px;
  cursor: pointer;
}
.connector.selected line {
  stroke: red;
}
.process .port-on circle {
  fill: yellow;
}

.process.error rect {
  stroke: red;
}
.process.selected rect {
  stroke: red;
  fill: yellow;
}
.process.blank > g > rect {
  fill: none;
}
.process.main.blank > g > rect {
  stroke: none;
}

*:focus {
  outline: none;
}

button.copy {
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  right: 50px;
}

.options {
  margin: 10px 0;
}
.options label {
  margin: 10px;
}

nav.depth li {
  margin: 5px 3px;
  border: 1px solid black;
  padding: 5px 5px;
  display: inline-block;
}
