@import '../app.less';

.state {
  border-radius: 5px;
  padding: 3px 10px;
  margin: 0 3px;

  &.state-pending { background: #eee; }
  &.state-running { background: yellow; }
  &.state-error { background: red; color: white; }
  &.state-deperror { background: lighten(red, 20%); color: white; }
  &.state-canceled { background: orange; color: white; text-decoration: line-through; }
  &.state-depcanceled { background: lighten(orange, 10%); color: white; text-decoration: line-through; }
  &.state-finished { background: lime; }
}
